*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f9ff;
}
.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 6px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: rgb(51, 50, 50);
    border: solid rgb(99, 98, 98);
    color: rgb(120, 218, 120);
    border-radius: 19px;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.color{
    color: rgb(241, 186, 84);
}

form .h:hover{
    background-color: rgb(31, 29, 29);
    transition: 0.5s;
}